<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Slide</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="main">
    <div class="slides-wrapper">
      <div class="prev hide">◁</div>
      <div class="slides-box">
        <ul class="slides">
          <li class="slide">
            <div class="image" style="background-color:aquamarine;">1</div>
          </li>
          <li class="slide">
            <div class="image" style="background-color:cornflowerblue;">2</div>
          </li>
          <li class="slide">
            <div class="image" style="background-color:mediumpurple;">3</div>
          </li>
          <li class="slide">
            <div class="image" style="background-color:indianred;">4</div>
          </li>
          <li class="slide">
            <div class="image" style="background-color:plum;">5</div>
          </li>
        </ul>
        <div class="slide__nav">
          <span class="bullet dark"></span>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet"></span>
          <span class="bullet"></span>
        </div>
      </div>
      <div class="next">▷</div>
    </div>
  </div>
  <script src="main.js"></script>
</body>
</html>