<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <form class="create__todo">
    <input id="todo">
    <button type="submit">등록</button>
  </form>
  <div class="container">
    <div class="box">
      <div class="item red">점심</div>
      <div class="item yellow">공부</div>
      <div class="item blue">게임</div>
    </div>
    <div class="box"></div>
  </div>
  <script src="main.js"></script>
</body>
</html>