<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <div class="wrap">
    <div class="loading">
      <span style="--i:1"></span>
      <span style="--i:2"></span>
      <span style="--i:3"></span>
      <span style="--i:4"></span>
      <span style="--i:5"></span>
      <span style="--i:6"></span>
      <span style="--i:7"></span>
      <span style="--i:8"></span>
      <span style="--i:9"></span>
      <span style="--i:10"></span>
      <span style="--i:11"></span>
      <span style="--i:12"></span>
      <span style="--i:13"></span>
      <span style="--i:14"></span>
      <span style="--i:15"></span>
    </div>
    <div class="loading2">
      <div>
        <div class="dot" style="--j:1"></div>
      </div>
      <div>
        <div class="dot" style="--j:2"></div>
      </div>
      <div>
        <div class="dot" style="--j:3"></div>
      </div>
      <div>
        <div class="dot" style="--j:4"></div>
      </div>
      <div>
        <div class="dot" style="--j:5"></div>
      </div>
    </div>
  </div>
  <script src="main.js"></script>
</body>
</html>