body {
  margin:0;
  height: 1400px;
}

.open__btn {
  margin: 30px;
  background-color: #9e9e9e;
  color : white;
  border-radius: 5px;
  padding : 8px 16px;
  border-style : none;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 3px 3px rgba(0,0,0,0.23);
}

.modal {
  display:flex;
  position:fixed;
  width: 100%;
  height: 100%;
  top:0;
  justify-content: center;
  align-items: center;
}

.modal__overlay {
  position:absolute;
  top:0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.2);
}
.modal__body {
  position: relative;
  width: 50%;
  height: 40%;
  background-color : white;
  z-index: 10;
  padding: 16px;
  border-radius:10px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.close__btn {
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal__header {
  padding: 16px 0px;
  font-size: 24px;
  text-align: center;
  color : #e36a6a;
  border-bottom: 1px solid gray;
}

.modal__content {
  margin: 10% 16px;
}
.modal__content p{
  white-space: pre-line;
  margin: 0px
}

.hide {
  display:none;
}