.rank {
  width: 200px;
  height: 40px;
  border: 1px solid #a3e3a9;
  overflow:hidden;
}

.item {
  display:flex;
  padding: 8px;
  height : 24px;
}

.search__rank {
  width: 10px;
  margin: 0px 5px;
}
.search__item {
  margin-left: 10px;
  width : 100%;
}